In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("df1_loan.csv")
df.head(3)

,Unnamed: 0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Total_Income
0,0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y,$5849.0
1,1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,$6091.0
2,2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,$3000.0

## **Using sklearn standard scaler**

In [6]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss.fit(df[['ApplicantIncome']])
df['ApplicantIncome_ss']=pd.DataFrame(ss.transform(df[['ApplicantIncome']]))

In [ ]:
sf